
body{
	
	font-family: montserrat,Helvetica	, sans-serif ;
	
}
#msform {
	
	padding-top:35px;
	width: 700px;
	height:355px;
	margin-top: 80px ;
	margin-left:25%;
	text-align: center;
	background-color:white;
	position: relative;
}
#msform .action-button {
	width: 50px;
	height:35px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
	
}